<html>
    <body>
        <body style="background-color:lightpink;"><center><br><br><br> <h1><U><B>CHILD SAFETY TIPS</B></U></h1><br><br><br><br><br><br>
        <h2>The following tips will help keep your children safe:</h2><br>
        <h4 align="left",spacing=" "><p> 1. Have a safety plan in place with your child, including what to do if they get lost or if someone tries to take them.Make sure that your child knows his/her full name,your fullname,your address and your mobile number.Make sure your child knows how to use how to use a mobile and how to call 1098 and 100.</p>
        <p> 2. Do not leave your kids at home alone.If you leave your teenage children at home by themselves,then you must tell them not to answer the door.If they answer the phone,they should not mention that they are alone but should say that you will be available shortly. </p>
        <p> 3.Teach your child about the importance of not talking to strangers, especially when you're not around. Explain to them that not all strangers are bad, but they should be cautious and not accept gifts or rides from anyone they don't know.</p> 
        <p> 4. Encourage your child to walk or play with a friend, especially in public places. There's safety in numbers, and a kidnapper is less likely to approach a group of children.</p>
        <p> 5.Avoid putting your child's name on their clothes or backpack, this can make it easier for a stranger to call your child by name and gain their trust.</p>
        <p> 6.Teach your child that police officers, firefighters, and other authority figures are safe people to talk to and ask for help.</p>
        <p> 7.Teach your child not to give out personal information such as their name, address, or phone number to anyone they don't know.</p>
        <p> 8.As a parent, trust your instincts if something doesn't feel right. If you feel uncomfortable about a person or situation, remove yourself and your child from it.</p>
        </h4>
        <h3> !!PROTECT YOUR CHILD FROM WICKED INDIVIDUALS!! </h3>
        
    
            </style>
            <a href="/index">Back</a>
        </body>
    </html>