{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% load widget_tweaks %}

<head>
  <style>
    body{
      background-image:url(/static/police.jpg);
      background-repeat:no-repeat;
      background-size:cover;
    }
  </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Child tracking Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets3/img/favicon.png" rel="icon">
  <link href="assets3/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets3/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets3/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets3/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets3/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets3/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets3/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
3
  <!-- Template Main CSS File -->
  <link href="{% static 'assets3/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: child tracking - v4.10.0
  * Template URL: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">LOST TREASURE</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="/detailsview">View Child details</a></li>

          
          <li><a href="/logout">logout</a></li>
          {% comment %} <li><a href="/register">Sign up </a></li> {% endcomment %}
          
          
          
         
        {% comment %} <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header --> {% endcomment %}

  <!-- ======= Hero Section ======= -->
  {% comment %} <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url('/static/assets3/img/slide/slide-1.jpg')">
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url('/static/assets3/img/slide/slide-2.jpg')">
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url('/static/assets3/img/slide/slide-3.jpg')">
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Child tracking Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>LOST TREASURE</h2>
          <h3>A website launched to trace missing children</h3>
          <p>In india a countless number of children are reported missing every year.The future of any country depends upon the right upbringing of its  children. India is the second populous country in the world 
            and children represent a significant percentage of total population.Children are happiness of each family and asset of each nation.A large number of children are missing due to various reasons including kidnapping,run-away childen,lost children,trafficked children.</p>
            A deeply disturbing fact about India’s missing children is that while on an average 174 children go missing every day, half of them remain untraced. Children who go missing may be exploited and abused for various purposes.</p>
        </div>

        <div class="row content">
          <div class="row-lg-6">
            <img src="assets3/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="row-lg-6 pt-4 pt-lg-0">
            
            
            <p>
             If  you’re shopping at the mall with your children when one of them suddenly disappears. A quick search of the nearby area is unsuccessful. What do you do?
              Now you can think about lost treasure website.</P>
             <h3> About :</h3
              <P>
              You can show the pictures and provide physical identifiers such as height and weight to security or police officers on the spot.
              The app includes tips on keeping children safe as well as specific guidance on what to do in those first few crucial hours after a child goes missing.
               It features a password protection option to help keep your information safe and allows you to add pictures from your mobile phone’s image library. You can also zoom in and crop images prior to saving.
              </p>
              
            
          </div>
        </div>

      </div>
    </section><!-- End lost treasure Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-bounding-box"></i></div>
            <h4 class="title"><a href="">Citizen's corner</a></h4>
            <p class="description">The public is given provision to voluntarily take photographs of children in suspected situations and uploaded in that portal. Automatic searching of this photo among the missing child case images will be provided in the application. This supports the police officials to locate the child anywhere in India.</p>
          </div>
          
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-book"></i></div>
            <h4 class="title"><a href="">Child safety tips</a></h4>
            <p class="description">The tips given will help keep your children safe.</p>
          </div>
          
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-camera"></i></div>
            <h4 class="title"><a href=""> Upload Photos</a></h4>
            <p class="description">You can provide missing child's details such as name,place,height, weight,etc..along with photo.so that it makes authorities easy to find missing children.</p>
          </div>
          
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-phone"></i></div>
            <h4 class="title"><a href="">Emergency contacts</a></h4>
            <p class="description">Here the numbers of police,child helpline numbers are given as Emergency contacts.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Feedback</a></h4>
            <p class="description">User's can share feedback about the website and any ideas that helps to improve the system.</p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!--
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>LOST TREASURE</h3>
      <p>Put your child’s safety in your own hands.</p>
      
      <div class="copyright">
        &copy; Copyright <strong><span>LOST TREASURE</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/ -->
        Designed by <a href="">Ahsana Fathima E</a>
      </div>
    </div>
  </footer><!-- End Footer --> {% endcomment %}

  {% comment %} <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> {% endcomment %}

  <!-- Vendor JS Files -->
  <script src="{% static 'assets3/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets3/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets3/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets3/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets3/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets3/js/main.js' %}"></script>

</body>

</html>